*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff: "Roboto", sans-serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-primary: #222831;
  --clr-text: #0477c7;
  --fs-h1: 2rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

h1 {
  font-style: normal;
  font-weight: 300;
  color: var(--clr-text);
}

p {
  font-weight: 300;
}

*:focus {
  outline: none;
}

.form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3em 5em 1em 5em;
  border-radius: 60px;
  background: var(--clr-primary);
  box-shadow: 20px 20px 33px rgba(0, 0, 0, 0.5),
    -20px -20px 33px rgba(0, 0, 0, 0.5);
}

.form__input--container {
  margin: 0.75em;
}

.form__input--container a {
  padding-right: 0.25rem;
  margin-bottom: 0.75rem;
  float: right;
}

.form__input {
  color: white;
  font-size: var(--fs-body);
  padding: 1rem 5rem 1rem 1rem;
  background: none;
  border: none;
  box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.25),
    inset 0px -4px 5px rgba(144, 142, 142, 0.25);
  border-radius: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.form__input:focus {
  color: white;
  background: var(--clr-text);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form__signin-button {
  color: var(--clr-text);
  font-size: var(--fs-h3);
  letter-spacing: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 5rem 1rem 5rem;
  background: linear-gradient(100.1deg, #222831 5.86%, #2e2e2e 97.25%);
  border: none;
  border-radius: 40px;
  box-shadow: -5px -7px 10px rgba(145, 142, 142, 0.25),
    5px 7px 10px rgba(0, 0, 0, 0.25);
}

.form__signin-button:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form__signin-button:focus {
  outline: none;
  box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.25),
    inset 0px -4px 5px rgba(144, 142, 142, 0.25);
}

.toggle {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-left: 8rem;
}

.toggle p {
  margin-right: 0.5rem;
}

/* social icons */

.social-icon {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icon p {
  margin: 0;
}

.form__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 0;
}

.social-list__item {
  border-radius: 50%;
  padding: 0.25rem;
  font-size: 50px;
  color: var(--clr-text);
}

a:link,
a:visited,
a:active {
  color: var(--clr-text);
}

a:hover {
  color: white;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Toggle */

.switch {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-primary);
  box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.25),
    inset 0px -4px 5px rgba(144, 142, 142, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-primary);
  box-shadow: inset 4px 4px 4px rgba(133, 133, 133, 0.25),
    inset -4px -4px 4px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--clr-text);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25),
    inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
